{##
 # SocietoBaseBundle
 # Copyright (C) 2011 Kousuke Ebihara
 #
 # This program is under the EPL/GPL/LGPL triple license.
 # Please see the Resources/meta/LICENSE file that was distributed with this file.
 #}

{% set topic_path = { 'Menu' : path("_backend_menu"), 'Delete Menu' : none } %}
{% set title = "Delete Menu" %}

{% extends skin_template_path('admin_base.html.twig') %}

{% block body %}
<p>Do you really the following menu?</p>

<dl>
    <dt>{{ caption }}</dt>
    <dd>{{ menuItem.uri | default(menuItem.route | default(none)) }}</dd>
</dl>

<form action="{{ path('_backend_menu_delete', {'caption': caption}) }}" method="post">
{{ form_widget(form) }}
<input type="submit">
</form>
{% endblock %}
